.App {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: 100vh;
  overflow: auto;
  font-family: 'Poiret One';
  background-color: rgba(50, 50, 50, 0.5);
  color: rgb(200, 200, 200);
}
.App::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url('drink-bg.jpg');
  background-size: cover;
  background-position: center;
}
.microphone-button {
  justify-self: center;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border-color: transparent;
  background-color: rgba(200, 200, 200, 0.5);
}
.microphone-button:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.8);
}
.mic-icon {
  width: 30px;
  height: 30px;
  color: rgba(50, 50, 50, 0.5);
}

.title {
  padding: 0 4rem;
  font-size: 4rem;
  font-weight: 800;
  border-color: rgba(50, 50, 50, 0.5);
}
.response {
  justify-self: center;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 800;
}
